@tailwind base;
@tailwind components;
@tailwind utilities;

/* 다크 모드 설정 */
@layer components{
    .darkMode{
        @apply dark:border-[#3b3b3b] dark:bg-[#292929] dark:text-[#d9d9d9]
    }
}

/* .ns{font-family: 'ns', sans-serif;}
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * { 
    font-family: 'ns', sans-serif;
}
.nanum{font-family: 'nanum';}
@font-face {
    font-family: 'nanum';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.scoredream{font-family: 'scoredream';}
@font-face {
    font-family: 'scoredream';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.efwm{font-family: 'efwm';}
@font-face {
    font-family: 'efwm';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_watermelonSalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
} */


/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400&family=Roboto:wght@100&display=swap'); */

@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

*{
    font-family: 'Noto Sans KR', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    /* font-weight: 700; */
}


body{
    /* background-color: #f3f3f3; */
    background: linear-gradient(-45deg, #979797, #c8c8c8, #ffffff);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;
}

.dark body{
    /* background-color: #333; */
    background: linear-gradient(-45deg, #232323, #3f3f3f, #4d4d4d);
    background-size: 400% 400%;
    animation: gradient-bg 20s ease infinite;
}


@keyframes gradient-bg {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
